<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OncamSDKTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ResourceBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5E381691CC52C75005392D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E3817F1CC533AB005392D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E381891CC5354B005392D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E381931CC53598005392D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5E3819D1CC53772005392D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
